@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  transition: transform 0.4s ease-in;
}
.card:hover {
  transform: translateY(-3px) scale(1.05);
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  min-height: 100vh;
}

a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: 0;
}

button:hover {
  cursor: pointer;
}
input {
  border: 0;
}
button:focus,
input:focus {
  outline: 0;
}
.w-960 {
  max-width: 960px;
  margin: 0 auto;
}
.btn {
  background-color: #fd3a65;
  padding: 10px 20px;
  color: white;
}
